<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="./css/style.css">
<head>
    <meta charset="utf-8">
    <title>Galaxy Gazers</title>
        <nav>
        <a href="/index">Home</a> |
        <a href="/astronomers">Astronomers</a> |
        <a href="/celestial_objects">Celestial Objects</a> |
        <a href="/customers">Customers</a> |
        <a href="/prints">Prints</a> |
        <a href="/astronomer_sales">Astronomer Sales</a>|
        <a href="/print_sales">Print Sales</a> 
    </nav>
</head>
<body>
<div>
</div>

    {{{body}}}

</body>
<footer>
&copy; William Franklin and Nathaniel DeShazer
</footer>
</html>