{{! CITATION:
DATE: 12/5/2022
Adapted: nodejs-starter-app
SCOPE: module
URL: github/osu-cs340-ecampus/nodejs-starter-app
}}
<head>
    <h1>Celestial Objects</h1>
</head>

<body>


<main>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Astronomer ID</th>
            <th>Object Type</th>
            <th>Object Name</th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.object_id}}</td>
            <td>{{this.astronomer_id}}</td>
            <td>{{this.object_type}}</td>
            <td>{{this.object_name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Search Celestial Objects</h2>
<p>Search by first name using the field below.</p>
<form id="search-celestial-objects-html" method='GET' action='/celestial_objects'>
    <label for="input-object-name">Search by Object Name: </label>
    <input type="text" name="object_name" id="input-celestial-objects-html-search">
    <input type="submit">
    <a href='/celestial_objects'><button>Reset</button></a>
</form>

<h2>Add Celestial Object:</h2>
<p>To add a new Celestial Object, please enter the information below and click 'Submit'!</p>
<form id="add-celestial-object-form" method="POST" action="/add-celestial-object">
    <label for="input-astronomer-id">Astronomer ID:</label>
    <input type="number" name="input-astronomer-id" id="input-astronomer-id">
    
    <label for="input-object-type">Object Type:</label>
    <input type="text" name="input-object-type" id="input-object-type">

    <label for="input-object-name">Object Name:</label>
    <input type="text" name="input-object-name" id="input-object-name">

    <input type="submit">
</form>

</main>

<div> 
  <footer>
    Created by William Franklin and Nathaniel DeShazer
  </footer>
<div>
</body>