<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galaxy Gazers</title>

  <link rel="stylesheet" href="./css/style.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <nav>
      <a href="/index">Home</a> |
      <a href="/astronomers">Astronomers</a> |
      <a href="/celestial_objects">Celestial Objects</a> |
      <a href="/customers">Customers</a> |
      <a href="/prints">Prints</a> |
      <a href="/print_sales">Print Sales</a> |
      <a href="/astronomer_sales">Astronomer Sales</a>
  </nav>
</head>

<body>
<div> <!-- Title -->
  <h1>Welcome to the Galaxy Gazers Home Page!</h1>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div>

<div> <!-- Main content -->
  <main>
    <h3>Site Contents</h3>
    <ul><li><a href="/astronomers">Astronomers</a></li></ul>
    <ul><li><a href="/celestial_objects">Celestial Objects</a></li></ul>
    <ul><li><a href="/customers">Customers</a></li></ul>
    <ul><li><a href="/prints">Prints</a></li></ul>
    <ul><li><a href="/print_sales">Print Sales</a></li></ul>
    <ul><li><a href="/astronomer_sales">Astronomer Sales</a></li></ul>
  </main>
</div>
  
<div> <!--Footer -->
  <footer>
    Created by William Franklin and Nathaniel DeShazer
  </footer>
<div>

</body>
</html>