<!DOCTYPE html>
<html lang="en">
<h1>Welcome to the Galaxy Gazers Home Page!</h1>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galaxy Gazers</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
  <main>
    <h1>Galaxy Gazers</h1>
    <h3>Site Contents</h3>
    <ul><li><a href="/astronomers">Astronomers</a></li></ul>
    <ul><li><a href="/celestial_objects">Celestial Objects</a></li></ul>
    <ul><li><a href="/customers">Customers</a></li></ul>
    <ul><li><a href="/prints">Prints</a></li></ul>
    <ul><li><a href="/print_sales">Print Sales</a></li></ul>
    <ul><li><a href="/astronomer_sales">Astronomer Sales</a></li></ul>


  </main>
  <footer>
    Created by William Franklin and Nathaniel DeShazer
  </footer>
  <script src="../js/index.js"></script>
</body>

</html>