<!DOCTYPE html>
<html lang="en">

<head>
  <h1>Welcome to the Galaxy Gazers Home Page!</h1>
</head>

<body>
  <main>
    <h3> About Us: </h3>
    <p>We are a small group of amateur professional astronomy photographers who banded together in 2022 in order
    to reach a greater number of people with our art, and to not step on each others' toes while doing so.</p>
    <p>This database is put together to track not only our clients and sales, but also so that we do not all
    try to sell a picture of the same celestial object!</p>
    <p align="center">Below is a description of each page in the database</p>
    <hr size="3" width="75%" color="black">
    <p><a href="/index">Home</a>: That's right here!</p>         
    <p><a href="/astronomers">Astronomers</a>: Our organizations' members. 
      On this page you can <b>add</b> a new astronomer, <b>delete</b> a current member, and <b>update</b> 
      any astronomer's information</p>     
    <p><a href="/celestial_objects">Celestial Objects</a>: All objects we have captured on camera. 
      This represents backup records and does not indicate what may be in stock or available for print</p>
    <p><a href="/customers">Customers</a>: Our valued customers and their information.</p>   
    <p><a href="/prints">Prints</a>: Our current prints that are in stock in store and online.</p>
    <p><a href="/sales">Sales</a>: A table displaying our recent sales
    <p><a href="/astronomer_sales">Astronomer Sales</a>: An intersection table between Astronomers and Sales.
      This page has the ability to delete an element from the database.</p>
    <p><a href="/print_sales">Print Sales</a>: An intersection table between Prints and Sales.</p>    
  </main>
</body>  
<footer>
  Created by William Franklin and Nathaniel DeShazer
</footer>
</html>