body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}



body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e3/The_Horsehead_Nebula_IC434.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}
table td {
    text-align: left;
    vertical-align: bottom;
    height: 30px;
}

h1, footer {
    color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: lightgreen;
    color: black;
}

a:hover {
    background-color: white;
}



main {
    justify-content: left;
    padding: 20px 20px;
    background-color: white;
    margin: 25px 200px 25px 200px;
    color: black;
}


